main {
    display: flex;
    margin: 8vh 10vw;
}

main section {
    display: flex;
    flex-direction: column;
    padding: 0px 4vw;
}

.bookPortrait {
    width: 24rem;
    height: auto;
}

#bookOptions * {
    margin-bottom: 1.2rem;
}

.rating {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    padding: 0;
}

.rating span {
    margin: 0.4rem;
}

.rating h5 {
    font-size: 2rem;
    margin: 0.2rem;
}

.rating p {
    font-size: 0.9rem;
    margin: 0.7rem;
}

.flexCentered {
    justify-content: center;
}

#bookInfo {
    width: 80%;
}

.bestSeller {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 0;
}

.author::after {
    content: "🥇";
}

main h2 {
    font-size: 2.5rem;
}

main a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

main a:hover {
    color: var(--dark-red);
}

.bookOptionB {
    width: 80%;
    margin: auto;
    height: 2.5rem;
    font-size: 1.5rem;
}

#wishList {
    font-size: 1.1rem;
}

.redOutlined {
    outline: 2px solid var(--dark-red);
}

select:hover {
    outline: 3px solid var(--button-hover);
}

.recommendations {
    width: 85%;
    margin: auto;
    text-align: center;
}

@media (min-width: 480) and (max-width: 1360) {
    
}